<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/nuevaCancha.css}"/>
</head>
<body>
<div class="lobby-container">
  <!-- Barra lateral -->
  <div th:replace="sidebar :: sidebar"></div>
  <!-- Contenido principal -->
  <div class="main-content">

    <section class="dashboard">
      <!-- Tarjetas de Información -->
      <div th:each="cancha : ${canchas}" class="card">
        <img src="https://th.bing.com/th/id/R.ade6e7dd1d9962cb02f2d19c239a3793?rik=Yz1qai4y0KInGw&pid=ImgRaw&r=0" alt="Imagen de la cancha" class="canchaImg">
        <h2 th:text="${cancha.nombre}">Cancha Oeste</h2>
        <p><strong>Superficie:</strong> <span th:text="*{cancha.superficie}"></span></p>
        <p><strong>Cancha:</strong> <span th:text="${cancha.canchaDe}"></span></p>
      </div>


      <div class="card d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#addCanchaModal">
        <i class="fa-solid fa-plus"></i>
      </div>
    </section>
  </div>
</div>
<div class="modal fade" id="addCanchaModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Agregar Nueva Cancha</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{/guardar}" method="POST" th:object="${cancha}">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre de la cancha</label>
            <input th:field="*{nombre}" type="text" class="form-control" id="nombre" required>
          </div>

          <div class="mb-3">
            <label for="superficie" class="form-label">Superficie</label>
            <select class="form-select" id="superficie" th:field="*{superficie}">
              <option value="Cesped">Césped</option>
              <option value="Cesped sintetico">Césped Sintético</option>
              <option value="Tierra">Tierra</option>
              <option value="Cemento">Cemento</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="tamaño" class="form-label">Cancha de</label>
            <select class="form-select" id="tamaño" th:field="*{canchaDe}">
              <option value="5">5</option>
              <option value="7">7</option>
              <option value="11">11</option>
            </select>
          </div>

          <button type="submit" class="btn btn-success w-100">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div th:replace="footer :: footer"></div>
<script>
  document.getElementById('imagen').addEventListener('change', function(event) {
    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function(e) {
        const preview = document.getElementById('preview');
        preview.src = e.target.result;
        preview.classList.remove('d-none');
      }
      reader.readAsDataURL(file);
    }
  });
</script>
</body>
</html>
