<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/registro.css}"/>
    <title>Title</title>
</head>
<body>
<div class="login">
    <h1>Login</h1>
    <form th:action="@{/registrarme}" method="post" th:object="${usuario}">
        <div th:if="${error}" class="alert alert-danger" role="alert" style="font-size: 0.8em; padding: 10px;">
            <p th:text="${error}" style="margin: 0;"></p>
        </div>
        <input type="text" th:field="*{nombre}" placeholder="Nombre" required="required" />
        <input type="text" th:field="*{apellido}" placeholder="Apellido" required="required" />
        <input type="email" th:field="*{email}" placeholder="Correo electrónico" required="required" />
        <input type="password" th:field="*{password}" placeholder="Contraseña" required="required" />

        <button type="submit" class="boton">Registrarme</button>
    </form>
</div>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>